---
layout: default
title: Ekspertyzy przyrodnicze
categories: 
- homepage
---
<div class="row">
	<div class="12u">

		{% include bar.html %}

	<div id="slider">
			<div class="viewer">
				<div class="reel">
					<div class="slide">
						<a class="link" href="https://www.biopsis.pl/"></a>
						<img src="images/ekspertyzy-przyrodnicze.jpg" alt="Ekspertyzy przyrodnicze" />
						<div class="caption">
							<h2>Ekspertyzy przyrodnicze</h2>
							<p>Usługi związane z przeprowadzaniem ekspertyz przyrodniczych dla rolników, farm wiatrowych i innych inwestycji.</p>
						</div>
					</div>
					<div class="slide">
						<a class="link" href="https://www.biopsis.pl/"></a>
						<img src="images/ekspertyzy-ornitologiczne.jpg" alt="Ekspertyzy ornitologiczne" />
						<div class="caption">
							<h2>Opinie ornitologiczne</h2>
							<p>Ekspertyzy, analizy i opinie ornitologiczne w siedliskach chronionych gatunków ptaków w obszarach inwestycji.</p>
						</div>
					</div>
					<div class="slide">
						<a class="link" href="https://www.biopsis.pl/"></a>
						<img src="images/ekspertyzy-dla-rolnikow.jpg" alt="Ekspertyzy dla rolników" />
						<div class="caption">
							<h2>Ekspertyzy dla rolników</h2>
							<p>Ekspertyzy ornitologiczne i botaniczne dla programów rolnośrodowiskowych na pastwiskach i łąkach dla uzyskania płatności dla minimum 1 ha użytków rolnych.</p>
						</div>
					</div>
				</div>
			</div>
			<div class="captions">
				<div class="captionLine">Arnold Cholewa &bull; Anna Długosiewicz</div>
				<div class="caption-shadow"></div>
			</div>
			<div class="navigation">
				<a href="#" class="previous-button">&lt;</a>
				<a href="#" class="next-button">&gt;</a>
			</div>
		</div>
	</div>
</div>
