<!-- Footer Wrapper -->
<div id="footer-wrapper">
  <!-- Footer -->
    <footer id="footer" class="container">
      <!-- Footer Content -->
        <div class="row">
          <div class="4u 12u(mobile)">
            <section>
              <h2>O firmie Biopsis</h2>
              <p>Firma Biopsis powstała w roku 2013 w odpowiedzi na zapotrzebowanie na ekspertyzy przyrodnicze i ornitologiczne na Podkarpaciu, w okolicach Rzeszowa i Tarnobrzegu.</p>
            </section>
          </div>
          <div class="4u 12u(mobile)">
            <section>
              <h2>Informacje</h2>
              <ul class="style5">
              {% for post in site.posts limit:1 %}
                <li class="first"><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></li>
              {% endfor %}
              {% for post in site.posts offset:1 limit:4 %}
                <li><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></li>
              {% endfor %}
              </ul>
            </section>
          </div>
          <div id="kontakt" class="4u 12u(mobile)">
            <section>
              <h2>Kontakt</h2>
              <ul class="style5">
                <li class="fa fa-home">&nbsp; Huta Komorowska, Majdan Królewski</li>
                <li class="fa fa-envelope">&nbsp; arnold.cholewa@biopsis.pl</li>
                <li class="fa fa-phone-square">&nbsp; +48 501 673 377</li>
                <li class="fa fa-envelope">&nbsp; anna.dlugosiewicz@biopsis.pl</li>
                <li class="fa fa-phone-square">&nbsp; +48 508 964 096</li>
              </ul>
            </section>
          </div>
        </div>
      <!-- Copyright -->
        <div class="row">
          <div id="copyright" class="12u">
            Biopsis &copy; 2012 - {{ site.time | date: "%Y" }} <br /> Arnold Cholewa &bull; Anna Długosiewicz
          </div>
        </div>
    </footer>
</div>
