<!DOCTYPE html>
<html>

  {% include head.html %}

  {% if page.url == "/" or page.url == "index.html" %}
  <!-- homepage {{ page.url }}  -->
  <body class="homepage">
  {% elsif page.url contains "/oferta" or page.url contains "/publikacja"  %}
  <!-- nosidebar {{ page.url }}  -->
  <body class="no-sidebar">
  {% else %}
  <!-- lefsidebar {{ page.url }}  -->
  <body class="left-sidebar">
  {% endif %}

    <div id="page-wrapper">

      <!-- Header Wrapper -->
        <div id="header-wrapper">
          <div class="container">
            <div class="row">
              <div class="12u">

              {% include header.html %}

              </div>
            </div>
          </div>
        </div>

        <!-- Main Wrapper -->
        	<div id="main-wrapper">
        		<div id="main" class="container">

              {{ content }}

      		</div>
      	</div>

      {% include footer.html %}
		</div>

    <!-- Scripts -->
    <script src="/js/jquery.min.js"></script>
    <script src="/js/jquery.dropotron.min.js"></script>
    <script src="/js/jquery.poptrox.min.js"></script>
    <script src="/js/jquery.slidertron.min.js"></script>
    <script src="/js/jquery.rotatorrr.min.js"></script>
    <script src="/js/skel.min.js"></script>
    <script src="/js/skel-viewport.min.js"></script>
    <script src="/js/util.js"></script>
    <!--[if lte IE 8]><script src="/js/ie/respond.min.js"></script><![endif]-->
    <script src="/js/main.js"></script>
  </body>
</html>
