---
layout: default
---
<div class="row">
  <div class="12u">

    {% include bar.html %}

  </div>
</div>
<div class="row">
  <div class="4u 12u(mobile)">
    <div id="sidebar">
      <section>
        <h2>Informacje</h2>
        <ul class="style1">
          {% for post in site.posts limit:1 %}
            <li class="first"><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></li>
          {% endfor %}
          {% for post in site.posts offset:1 limit:2 %}
            <li><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></li>
          {% endfor %}
        </ul>
      </section>
    </div>
  </div>
  <div class="8u 12u(mobile) important(mobile)">
    <div id="content">
      <article>
        <h2>{% if page.title %}{{ page.title }}{% endif %}</h2>
        {{ content }}
      </article>
    </div>
  </div>
</div>
